# Garantir tipos MIME corretos para módulos JavaScript e CSS
AddType application/javascript .js
AddType text/css .css

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Forçar HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Roteamento do React
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/manifest.json
  RewriteCond %{REQUEST_URI} !^/robots.txt
  RewriteRule . /index.html [L]
</IfModule>
